<h1 class="flex justify-center mt-5 text-4xl font-bold shadow decoration-sky-500 mb-5">Add New Recipe</h1>
<%= link_to recipes_path do %>
  <div class="flex justify-center mr-[48%] mb-10">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
    </svg>
  </div>
<% end %>
<%= render "form", recipe: @recipe %>

<br>
