<h1 class="flex justify-center mt-5 mb-5 text-4xl font-bold shadow decoration-sky-500">Public Recipes</h1>
<% @public_recipes.each do |recipe| %>
  <div class = "flex flex-col items-center my-4" id="<%= dom_id recipe %>">
    <div class="block p-6 rounded-lg border bg-slate-100 w-[80%]">
      <div class="lg:flex lg:gap-24">
        <h4 class="text-gray-1000 font-medium leading-tight text-2xl mt-0 mb-2"><%= recipe.name %></h4>
        <p class="text-gray-700 text-base mb-4 lg:px-12">
          <%= recipe.description %>
        </p>
      </div>
      <div>
        <%= link_to "Show this recipe", recipe, class: " inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
<% end %>